
.td1{ border: 1px solid black;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.tr1 {
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;

}
.th1 {
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}
td {
    vertical-align: middle;
    padding: 15px;
    text-align: center;
}
tr {
    vertical-align: middle;
    text-align: center;

}
th {
    vertical-align: middle;
    text-align: center;
}
p{	margin:1px;
	padding:0.5px;
	}
h2{line-height:0.5}

.img{
    width:200px;
    height:auto
}