.table {

    vertical-align: middle;
    margin-top: 0px;
}

.td {

    vertical-align: middle;
    padding: 3px;
    text-align: center;
}

.tr .th {

    vertical-align: middle;
    text-align: center;
}