.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	background-color: rgb(56, 29, 180); /*menu*/
	border : #730544;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: rgba(255, 0, 0, 0.7);
  font-weight: bold;
  background-color: rgba(42, 176, 18, 0.67);/*menu - bg active*/
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ff0000; /*hover*/
  font-weight: bold;
  text-decoration: none;
  background-color: #ffe62a; /*back-g menu print*/
}




/* Website Style */

