
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
	background-color : #b00ba5;
}

.dropdown-toggle hidden-xs:hover{
	border-color: #CE0E0E;
}
.btn-primary:hover {
    color: #4c48ff;
    background-color: #da291c;
    border-color: #1b1eda;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	 background-color: #1b1eda;
	
}

.title{
    color: red;
}